<mat-toolbar>
  <button
    class="home-button"
    routerLink="/"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <span>Tinner</span>
  </button>

  <button
    routerLink="/member"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <span>Member</span>
  </button>

  <button
    routerLink="/server-error"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <span>Gooooooooo</span>
  </button>

  <span class="my-spacer"></span>
  <button routerLink="/login" routerLinkActive="active">
    <mat-icon>login</mat-icon>
    <span> Login</span>
  </button>
</mat-toolbar>
