.profile-container {
    display: flex;
    flex-grow: 1;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;



    mat-tab-group {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        border: 1px solid yellow;

    }

    form {
        display: flex;
        flex-direction: column;
        text-align: end;
        margin-top: 1em;
        flex-grow: 1;
    }

    mat-form-field {
        width: 100%;
        display: block;

    }

    button {
        margin-bottom: 1em;

    }
}